<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.szss.androidapp">

    <application
        android:name=".application.SzssApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".base.EntryActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.HaswindowBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.guide.LauncherActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.guide.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.guide.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.guide.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".base.WebActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".module.imui.ContactListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".module.barcode.activity.CaptureActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".module.setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>